<% provide :title, "About" %>

<div class="row">
	<div class="col">
		<%= image_tag "city yoga.jpeg",
				class: "img-fluid border border-light" %>
	</div>
	<div class="col">
		<p class="lead text-right">
			Your journey. Your goals.
		</p>
		<p class="text-right">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices fermentum mauris, in fermentum urna mattis et. Sed vulputate urna sed dolor aliquet interdum.
		</p> 
		<p class="text-right">
			Etiam mollis tortor ornare aliquet dapibus. Integer scelerisque suscipit augue ac malesuada. Duis risus odio, elementum vel fringilla quis, vulputate vel ante.
		</p>
	</div>
</div>