<div class="row">
	<div class="image-container col">
		<%= image_tag "healthy computer.jpg",
				class: "img-fluid border border-light" %>
	</div>
	<p class="col lead text-right">
		Welcome to HealthUp</br>
		Your personal guide to well-being
	</p>
</div>