<% provide :title, "Cohorts" %>

<h1>All Cohorts</h1>

<% if @cohorts.any? %>
	<ol class="list-group">
		<%= render @cohorts %>
	</ol>
<% else %>
	<p>
		No cohorts at this time. <%= link_to "Create New Cohort", new_cohort_path %>
	</p>
<% end %>
