<% provide :title, "Forgot Password" %>

<h1>Request a password reset</h1>

<%= form_for :password_reset, url: password_resets_path do |f| %>

	<%= f.label :email %>
	<%= f.email_field :email, class: "form-control" %><br>

	<%= f.submit "submit", class: "btn" %>
<% end %>
