<% provide :title, "Messages" %>

<h1>My Messages</h1>

<div id="accordion">

	<!-- Inbox -->
  <%= render partial: 	"message_box",
  											locals: { messages: @received, unopened_count: @received_unopened,
  											box: "inbox", a_class: "card-link", collapse_num: "collapseOne" } %>

	<!-- Sent -->
  <%= render partial: 	"message_box",
  											locals: { messages: @sent,
  											box: "sent", a_class: "card-link collapsed", collapse_num: "collapseTwo" } %>

	<!-- Contact -->
  <% if @user.admin? %>
  	<%= render partial: "message_box",
  											locals: { messages: @outside,  unopened_count: @outside_unopened,
  											box: "contact", a_class: "card-link collapsed", collapse_num: "collapseThree" } %>
	<% end %>
</div>
