<% if object.errors.any? %>
	<div class="text-danger" ">
		Please try again. <%= pluralize object.errors.count, "error" %> to fix:
		<ul class="list-group">
			<% object.errors.full_messages.each do |message| %>
				<li class="list-group-item alert alert-danger"><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
