<footer class="fixed-bottom bg-dark">
	<div class="container">
		<div class="row">
			<div class="col">
				<small class="text-white">[footer items here]</small>
			</div>
			<div class="col">
				<nav class="navbar navbar-dark justify-content-end">
					<ul class="navbar-nav">
						<li class="nav-item"><%= link_to 'Home', root_path, class: "nav-link" %></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>